<h2><%= @current_category.title %>: <%= @current_sub_category.title %></h2>

<p><%= @current_sub_category.description %></p>

<table class="thumbs">
  <tbody>
    <tr>
    <% i = 0; @current_sub_category.images.order(:order).each do |image| %>
    <%= '</tr><tr>'.html_safe if i % 3 == 0 %>
      <td><a href="<%= image.url %>"><%= image_tag image.thumb, width: 230 %>
        <h4><%= image.title %></h4></a></td>
    <% i+=1; end %>
    <% (3 - i).times do %>
      <td></td>
    <% end %>
    </tr>
  </tbody>
</table>