<h2>Kontakt</h2>

<p>Mit diesem Formular können Sie mir eine Nachricht schicken.</p>

<%= form_tag dispatch_email_path, method: :post do %>
  <%= label_tag "user_info[name]", "Name" %>
  <%= text_field_tag "user_info[name]" %>
  <%= label_tag "user_info[email]", "E-Mail-Adresse" %>
  <%= text_field_tag "user_info[email]" %>
  <%= label_tag "user_info[msg]", "Nachricht" %>
  <%= text_area_tag "user_info[msg]", "" %>
  <%= submit_tag "Send" %>
<% end %>