<h2>Bilder</h2>

<p>Hier werden alle deine Bilder angezeigt.</p>

<p><%= link_to 'Neues Bild hinzufügen', new_admin_image_path %></p>

<%= form_tag controller: 'images', action: 'order' do %>
<table>
  <tr>
    <th></th>
    <th>Titel</th>
    <th>Vorschau</th>
    <th>Bereich</th>
    <th>Kategorie</th>
  </tr>
<% @categories.each do |category| %>
<% category.images.order(:order).each do |image| %>
  <tr>
    <td style="width:40px"><%= text_field_tag "image[#{image.id}]", image.order, style: 'width:25px' %></td>
    <td style="text-align:left"><%= link_to image.title, image.url %></td>
    <td><%= image_tag image.thumb, width: 80 %></td>
    <td style="font-size:13px"><%= image.sub_category.category.title %></td>
    <td style="font-size:13px"><%= image.sub_category.title %></td>
    <td><%= link_to 'Bearbeiten', edit_admin_image_path(image) %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'Löschen', admin_image_path(image), method: :delete, data: { confirm: 'Bist du sicher?' } %></td>
  </tr>
<% end %>
<% end %>
</table>
<%= submit_tag 'Speichern' %>
<% end %>